html, body {
	width: 100%;
	height: 100%;
  background: #528B8B;
}

#game-score {
  position: absolute;
  top: 10px;
  color: #7FDBFF;
  font: 30px Allan, Helvetica, Arial, sans-serif;
  background: #2F4F4F; 
  width: 200px;
  text-align: center;
  height: 40px;
  opacity: 0.9;
}

#game-next-piece-title {
  position: relative;
  font: 30px Allan, Helvetica, Arial, sans-serif;
}

#game-pause-popup, #game-end-popup {
  position: relative;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 45px;
  color: blue;
  font-family: 'Russo One', sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  top: 220px;
}

#game-pause-popup p, #game-end-popup p {
   font: 23px Allan, Helvetica, Arial, sans-serif;
   color: blue;
   background: gold;
   position: absolute;
   left: 835px;
   width: 250px;
}

#game-end-popup {
  

}


